aiohappyeyeballs==2.3.4
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==23.2.0
bidict==0.23.1
blinker==1.8.2
CacheControl==0.14.0
cachetools==5.4.0
cement==2.8.2
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
cryptography==43.0.0
cycler==0.12.1
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
env==0.1.0
exceptiongroup==1.2.2
fastapi==0.112.0
firebase-admin==6.5.0
fonttools==4.52.4
frozenlist==1.4.1
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.17.2
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-generativeai==0.7.2
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpcio==1.65.4
grpcio-status==1.62.3
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.1
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.5
langchain-core==0.2.29
langchain-ollama==0.1.1
langsmith==0.1.98
MarkupSafe==2.1.5
msgpack==1.0.8
multidict==6.0.5
neat-python==0.92
numpy==1.23.1
ollama==0.3.1
orjson==3.10.6
packaging==24.0
pathspec==0.10.1
Pillow==10.3.0
proto-plus==1.24.0
protobuf==4.25.4
psycopg2==2.9.7
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycurl==7.45.3
pydantic==2.8.2
pydantic_core==2.20.1
pygame==2.6.0
PyJWT==2.8.0
pyparsing==3.0.9
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
schedule==1.2.2
semantic-version==2.8.5
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.31
sqlparse==0.5.0
starlette==0.37.2
tenacity==8.5.0
termcolor==1.1.0
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions==4.12.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.19
uvicorn==0.30.5
wcwidth==0.1.9
Werkzeug==3.0.3
whitenoise==6.7.0
wincertstore==0.2
wsproto==1.2.0
yarl==1.9.4
