sqlalchemy==2.0.31
python-dotenv==1.0.1
jinja2==3.1.4
langchain_ollama==0.1.1
langchain_core==0.2.29
fastapi==0.112.0
pydantic==2.0.3
schedule==1.2.2
uvicorn==0.30.5
gunicorn==20.2.0
requests==2.31.0
psycopg2-binary==2.9.9
