sqlalchemy==2.0.31
python-dotenv==1.0.1
jinja2==3.1.4
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.17.2
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-generativeai==0.7.2
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
fastapi==0.112.0
pydantic==2.0.3
schedule==1.2.2
uvicorn==0.30.5
requests==2.31.0
psycopg2-binary==2.9.9