<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request Deletion</title>
  <link rel="icon" href="/templates/favicon.png" type="image/png"> 
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="req-delete-root">
    <div id="loading-bar" class="loading-bar"></div>
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="req-delete-background box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <!-- Background styling can go here -->
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
              <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                  <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
          </div>
        </div>
          </div>
        </div>
      
       
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>Request Account Deletion</h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="header">
              <a href="/">Home</a>
              <a href="/templates/update.html">Update</a>
              <a href="/templates/delete.html">Delete</a>
              <a href="/templates/fetch.html">Fetch </a>
            </div>
            <div class="formbg-inner padding-horizontal--48">
              <form id="delete-form">
                <div class="field padding-bottom--24">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" required>
                </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Request OTP">
                </div>
              </form>
            </div>
          </div>
          <div class="footer-link padding-top--24">
            <span>Back to <a href="/">Home</a></span>
            <!-- Footer links can go here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/update&del/delete.js"></script>
</body>
</html>
